<app-menu></app-menu>
<div class="debate-input">
    <input type="text" [(ngModel)]="newPost" pInputText class="p-inputtext-sm input-width" maxlength="255" placeholder="Exprimez-vous...">  
    <button pButton pRipple (click)="post()" type="button" label="Publier" class="p-button p-button-politica p-button-sm"></button>
</div>
<div class="content p-component">
    <div class="profile"  *ngIf="isLoggedIn">
        <div class="stick-left">
            <img class="p-avatar p-avatar-lg pdp" *ngIf="!(profil.profilPicture === undefined)" _ngcontent-qqs-c76="" [src]="profil.profilPicture"/>
            <img class="p-avatar p-avatar-lg pdp" *ngIf="profil.profilPicture === undefined" _ngcontent-qqs-c76="" src="../../../assets/PDP.webp"/>
            <div class="profil-information">
                <div class="p-card-title"> {{ profil.username }} </div>
                <div class="p-card-subtitle"></div>
                <div class="p-card-content">
                    {{ profil.politicalParti }}
                </div>
                <div class="p-card-content">
                    {{ profil.genre }}
                </div>
                <div *ngIf="profil.journalist" class="p-card-footer">
                    <p-tag styleClass="mr-2" severity="success" value="Journaliste" [rounded]="true"></p-tag>
                </div>
            </div>
        </div>
    </div>
    <div class="debate-feed">
        <div class="p-card card-container" *ngFor="let debate of debateList">
            <div class="p-card card-display" routerLink="/debate-details">
            <img class="p-avatar p-avatar-lg" *ngIf="!(profil.profilPicture === undefined)" _ngcontent-qqs-c76="" [src]="profil.profilPicture"/>
            <img class="p-avatar p-avatar-lg" *ngIf="profil.profilPicture === undefined" _ngcontent-qqs-c76="" src="../../../assets/PDP.webp"/>
                <div class="card-content">
                    <div class="p-card-title" style="color:black;"> {{ debate.user.username }} </div>
                    <div class="p-card-subtitle"></div>
                    <div class="p-card-content" style="color:black;"> {{ debate.message }} </div>
                    <div class="p-card-footer footer-debate-display"> 
                        <button pButton pRipple type="button" class="p-button-text"><span>{{ debate.comment.length }} <i class="pi pi-comments"></i></span></button>
                        <button pButton pRipple type="button" class="p-button p-button-text" (click)="interest(debate._id)">
                            <span>
                                {{ debate.interest_score }}
                                <i [ngClass]= "debate.liked ? 'pi pi-star-fill' : 'pi pi-star'"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <div *ngFor="let comment of debate.comment">
                <p-messages styleClass="p-message" [severity]="comment.side ? 'success' : 'error'">
                    <ng-template pTemplate>
                        <div style="display: flex; justify-content: space-between; width: 100%;">
                            <div style="display: flex; flex-direction: row; width: 100%">
                                <img class="p-avatar p-avatar-lg" src="../../../assets/PDP.png" width="55" height="55"/>
                                <div class="ml-2" style="width: 87%; word-wrap: break-word; max-width: 100%;">
                                    <div style="margin-left: 5%; font-weight: 700; color:black;"> {{ comment.id_user }} </div>
                                    <div style="margin-left: 5%; color: black;"> {{ comment.content }} </div>
                                    <button pButton pRipple type="button" class="p-button-rounded p-button-help p-button-text" (click)="onLike(debate._id, comment.id)">
                                        <span>
                                            {{ comment.score }}
                                            <i [ngClass]= "comment.liked ? 'pi pi-heart-fill' : 'pi pi-heart'"></i>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </p-messages>
            </div>
            <a class="debate-comments" *ngIf="debate.comment.length > 2" style="text-decoration: underline;" routerLink="/debate-details">Voir plus de commentaires ...</a>
            <div class="p-card" style="display: flex; margin-top: 1%;" >
                <input type="text" pInputText class="p-inputtext-sm input-comments" maxlength="255" placeholder="Exprimez-vous...">
                <button pButton pRipple type="button" class="p-button p-button p-button-text" style="color: rgb(11, 167, 11); margin: 2px;">
                    <i class="pi pi-thumbs-up"></i>
                </button>
                <button pButton pRipple type="button" class="p-button p-button p-button-text" style="color: red; margin: 2px;">
                    <i class="pi pi-thumbs-down"></i>
                </button>
                <button pButton pRipple type="button" class="p-button p-button p-button-text" style="color: #841586; margin: 2px;"><i class="pi pi-send"></i></button>
            </div>
        </div>
    </div>
    <div class="news">
        <div class="p-card" *ngFor="let news of mainNews">
            <img class="p-avatar news-image" _ngcontent-qqs-c76="" [src]="news.image" />
            <div class="card-content">
                <div class="p-card-header"> {{ news.title }} </div>
                <div class="p-card-subheader"> {{ news.content }} </div>
                <div class="p-card-footer"> {{ news.source }} </div>
                <div class="p-card-footer"> {{ news.dateTime }} </div>
            </div>
        </div>
    </div>
</div>
