<app-menu></app-menu>
<div class="debate-input">
    <input type="text" [(ngModel)]="newPost" pInputText class="p-inputtext-sm input-width" maxlength="255" placeholder="Exprimez-vous...">
    <button
        pButton
        pRipple
        (click)="showSourceDialog()"
        type="button"
        label="Publier"
        class="p-button p-button-politica p-button-sm">
    </button>

    <p-dialog header="Sourcez vos propos" [(visible)]="displaySource" [breakpoints]="{'960px': '75vw'}" [style]="{width: '50vw'}"
    [draggable]="false" [resizable]="false" [modal]="true" [blockScroll]="true">
        <div class="register-form">
                <input
                type="text"
                style="height: 100%; margin-top: 2%;"
                [(ngModel)]="source.s1"
                name="source"
                id="source"
                pInputText
                class="p-inputtext-sm input-comments"
                maxlength="255"
                placeholder="Argumentez...">
        </div>
        <div class="register-form" *ngIf="countSource >= 1">
            <input
            type="text"
            style="height: 100%; margin-top: 2%;"
            [(ngModel)]="source.s2"
            name="source"
            id="source"
            pInputText
            class="p-inputtext-sm input-comments"
            maxlength="255"
            placeholder="Argumentez...">
    </div>
    <div class="register-form" *ngIf="countSource >= 2">
        <input
        type="text"
        style="height: 100%; margin-top: 2%;"
        [(ngModel)]="source.s3"
        name="source"
        id="source"
        pInputText
        class="p-inputtext-sm input-comments"
        maxlength="255"
        placeholder="Argumentez...">
</div>
        <div *ngIf="countSource !== 2" style="width: 100%; display: flex; justify-content: center;">
            <button 
                pButton
                pRipple
                type="button"
                icon="pi pi-plus"
                (click)="addInput()"
                class="p-button-rounded p-button-help p-button-text"
                style="margin-top: 2%;">
            </button>
        </div>
        <ng-template pTemplate="footer">
            <p-button (click)="post()" label="OK" styleClass="politica-color p-button-raised p-button-text"></p-button>
        </ng-template>
    </p-dialog>
</div>
<div class="content p-component">
    <div class="profile">
        <div class="stick-left" *ngIf="isLoggedIn">
            <div class="p-card" [routerLink]="['/profil']">
                <img class="p-avatar p-avatar-lg pdp" *ngIf="!(profil.profilPicture === undefined)" _ngcontent-qqs-c76="" [src]="sanitize('data:image/jpg;base64, ' + profil.profilPicture)"/>
                <img class="p-avatar p-avatar-lg pdp" *ngIf="profil.profilPicture === undefined" _ngcontent-qqs-c76="" src="../../../assets/PDP.webp"/>
                <div class="profil-information">
                    <div class="p-card-title"> {{ profil.username }} </div>
                    <div class="p-card-subtitle"></div>
                    <div class="p-card-content">
                        {{ profil.politicalParti }}
                    </div>
                    <div *ngIf="profil.journalist" class="p-card-footer">
                        <p-tag styleClass="mr-2" severity="success" value="Journaliste" [rounded]="true"></p-tag>
                        <p-badge [value]="profil.indicator.toString()" severity="info" styleClass="mr-2"></p-badge>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="debate-feed" *ngIf="isLoggedIn">
        <div class="p-card card-container" *ngFor="let debate of debateList">
            <div class="p-card card-display">
            <img class="p-avatar p-avatar-lg" *ngIf="!(debate.user.profilPicture === undefined)" _ngcontent-qqs-c76="" [src]="sanitize('data:image/jpg;base64, ' + debate.user.profilPicture)"/>
            <img class="p-avatar p-avatar-lg" *ngIf="debate.user.profilPicture === undefined" _ngcontent-qqs-c76="" src="../../../assets/PDP.webp"/>
                <div class="card-content">
                    <div class="p-card-title" style="color:black;"  [routerLink]="['/debate-details', debate._id]"> {{ debate.user.username }} </div>
                    <div class="p-card-subtitle"  [routerLink]="['/debate-details', debate._id]"></div>
                    <div class="p-card-content" style="color:black;"  [routerLink]="['/debate-details', debate._id]"> {{ debate.message }} </div>
                    <div class="p-card-footer footer-debate-display"> 
                        <button pButton pRipple type="button" class="p-button-text" [routerLink]="['/debate-details', debate._id]"><span>{{ debate.comment.length }} <i class="pi pi-comments"></i></span></button>
                        <button pButton pRipple type="button" class="p-button p-button-text" (click)="likeDebate(debate._id, debate)">
                            <span>
                                {{ debate.interest_score }}
                                <i [ngClass]= "isDebateLiked(debate._id) ? 'pi pi-star-fill' : 'pi pi-star'"></i>
                            </span>
                        </button>
                        <button pButton pRipple type="button" class="p-button-text" (click)="showDebateSource(debate)">
                            <i class="pi pi-info-circle"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div>
                <p-messages styleClass="p-message" [severity]="debate.comment[0].side ? 'success' : 'error'" *ngIf="debate.comment.length >= 1">
                    <ng-template pTemplate>
                        <div style="display: flex; justify-content: space-between; width: 100%;">
                            <div style="display: flex; flex-direction: row; width: 100%">
                                <img class="p-avatar p-avatar-lg" *ngIf="!(debate.comment[0].user.profilPicture === undefined)" width="55" height="55" [src]="sanitize('data:image/jpg;base64, ' + debate.comment[0].user.profilPicture)"/>
                                <img class="p-avatar p-avatar-lg" *ngIf="debate.comment[0].user.profilPicture === undefined" width="55" height="55" src="../../../assets/PDP.webp"/>
                                <div class="ml-2" style="width: 87%; word-wrap: break-word; max-width: 100%;">
                                    <div style="margin-left: 5%; font-weight: 700; color:black;"> {{ debate.comment[0].user.username }} </div>
                                    <div style="margin-left: 5%; color: black;"> {{ debate.comment[0].comment }} </div>
                                    <button pButton pRipple type="button" class="p-button-rounded p-button-help p-button-text" (click)="like(debate.comment[0])">
                                        <span>
                                            {{ debate.comment[0].interest_score }}
                                            <i [ngClass]= "isCommentLiked(debate.comment[0]._id) ? 'pi pi-heart-fill' : 'pi pi-heart'"></i>
                                        </span>
                                    </button>
                                    <button
                                        pButton
                                        pRipple
                                        type="button"
                                        icon="pi pi-times"
                                        *ngIf="isMyComment(debate.comment[0])"
                                        (click)="deleteComment(debate, debate.comment[0])"
                                        class="p-button-rounded p-button-danger p-button-text">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </p-messages>
                <p-messages styleClass="p-message" [severity]="debate.comment[1].side ? 'success' : 'error'" *ngIf="debate.comment.length >= 2">
                    <ng-template pTemplate>
                        <div style="display: flex; justify-content: space-between; width: 100%;">
                            <div style="display: flex; flex-direction: row; width: 100%">
                                <img class="p-avatar p-avatar-lg" *ngIf="!(debate.comment[1].user.profilPicture === undefined)" width="55" height="55" [src]="sanitize('data:image/jpg;base64, ' + debate.comment[1].user.profilPicture)"/>
                                <img class="p-avatar p-avatar-lg" *ngIf="debate.comment[1].user.profilPicture === undefined" width="55" height="55" src="../../../assets/PDP.webp"/>
                                <div class="ml-2" style="width: 87%; word-wrap: break-word; max-width: 100%;">
                                    <div style="margin-left: 5%; font-weight: 700; color:black;"> {{ debate.comment[1].user.username }} </div>
                                    <div style="margin-left: 5%; color: black;"> {{ debate.comment[1].comment }} </div>
                                    <button pButton pRipple type="button" class="p-button-rounded p-button-help p-button-text" (click)="like(debate.comment[1])">
                                        <span>
                                            {{ debate.comment[1].interest_score }}
                                            <i [ngClass]= "isCommentLiked(debate.comment[1]._id) ? 'pi pi-heart-fill' : 'pi pi-heart'"></i>
                                        </span>
                                    </button>
                                    <button
                                        pButton
                                        pRipple
                                        type="button"
                                        icon="pi pi-times"
                                        *ngIf="isMyComment(debate.comment[1])"
                                        (click)="deleteComment(debate, debate.comment[1])"
                                        class="p-button-rounded p-button-danger p-button-text">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </p-messages>
            </div>
            <a class="debate-comments" *ngIf="debate.comment.length > 2" style="text-decoration: underline;" [routerLink]="['/debate-details', debate._id]">Voir plus de commentaires ...</a>
            <div class="p-card" style="display: flex; margin-top: 1%;" >
                <form #form="ngForm" (submit)="submit(form, debate)" style="width: 100%; display: flex; justify-content: space-between;">
                    <label for="comment" style="flex: 4;">
                        <input
                        type="text"
                        style="height: 100%; border-color: transparent;"
                        ngModel
                        name="comment"
                        id="comment"
                        pInputText
                        class="p-inputtext-sm input-comments"
                        maxlength="255"
                        placeholder="Argumentez...">
                    </label>
                    <p-toggleButton
                        pRipple
                        [(ngModel)]="commentSide"
                        [ngModelOptions]="{standalone: true}"
                        onLabel="Pour"
                        onIcon="pi pi-thumbs-up"
                        offLabel="Contre"
                        offIcon="pi pi-thumbs-down"
                        [style]="{'width': '7em', 'height': '100%', 'color': 'red', 'border-color': 'transparent', 'margin-left': '5px'}">
                    </p-toggleButton>
                    <button 
                        pButton
                        pRipple
                        type="submit"
                        class="p-button p-button p-button-text"
                        style="color: #841586; margin: 2px;">
                            <i class="pi pi-send"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="news" style="width: 20%;" *ngIf="isLoggedIn">
        <div class="p-card" *ngFor="let vote of voteEnded; let index = index;" style="width: 100%;">
            <div style="margin:2%">
                <div class="p-card-header" style="font-size: x-large; font-weight: 700;"> {{ vote.label }} </div>
                <div class="p-card-subheader" [id]="vote._id" style="display: flex; flex-direction: row; padding: 1%;">
                    <div [style.width]="widthBar[index].for" class="green">
                        <span style="margin-left: 5%;">{{ percentage(vote.for_vote, vote.against_vote) }} %</span>
                    </div>
                    <div [style.width]="widthBar[index].against" class="red">
                        <span style="margin-right: 5%;">{{ percentage(vote.against_vote, vote.for_vote) }} %</span>
                    </div>
                </div>
                <div class="p-card-footer" style="display: flex; justify-content: flex-end;"> {{ formatDate(vote.closeDate) }} </div>
            </div>
        </div>
    </div>
</div>

<app-source [visible]="displayDebateSource" *ngIf="debateSelected" [debate]="debateSelected" (close)="debateSelected = undefined"></app-source>
