<section (scroll)="onWindowScroll($event);">
  <nav class="animated fadeInDown">
    <div class="colorbar">
      <div class="navbar" id="navbar">
        <a class="navLink" routerLink="/debate"><img src="../../../assets/icons/icons8-accueil(1).svg"/></a>
        <a class="navLink" routerLink="/news"><img src="../../../assets/icons/icons8-nouvelles(1).svg"/></a>
        <a class="navLink" routerLink="/vote"><img src="../../../assets/icons/icons8-boîte(1).svg"/></a>
        <a class="navLink" routerLink="/profil"><img src="../../../assets/icons/icons8-contacts(1).svg"/></a>  
      </div>
    </div>
  </nav>
</section>
