@import "../../../styles.scss";

.politica-text-color {
  color: $politica-violet-color;
}

.home {
  display: flex;
  justify-content: center;
}

.background-politica {
  background: -webkit-linear-gradient(
    0.15turn,
    rgb(47, 47, 252),
    $politica-violet-color,
    rgb(255, 35, 35)
  );
}

.politica {
  margin: 0 5% 5% 5%;
  background: -webkit-linear-gradient(
    0.15turn,
    rgb(47, 47, 252),
    $politica-violet-color,
    rgb(255, 35, 35)
  );
  background-clip: content-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: 900;
  height: 100%;
  font-family: "DejaVu Sans Mono", monospace;
  flex: 2;
}

.title {
  font-size: 12vw;
}

.subtitle {
  font-size: 3vw;
}

.synospis {
  font-size: 1vw;
}

@media screen and (width < 1050px) {
  .subtitle {
    font-size: 4vw;
  }

  .synospis {
    font-size: 2vw;
  }
}

@media screen and (width < 450px) {
  .subtitle {
    font-size: 5vw;
  }

  .synospis {
    font-size: 3vw;
  }

  .politica {
    flex: 10 !important;
  }
}

@media screen and (width < 350px) {
  .login {
    flex-direction: column;
    margin-top: 10%;
  }

  .p-button-text {
    margin: 2%;
  }

  .subtitle {
    font-size: 7vw;
  }

  .synospis {
    font-size: 5vw;
  }
}

.p-button-politica {
  background-color: $politica-violet-color;
  border: $politica-violet-color;
}

.button-group {
  width: 100%;
  display: flex;
  justify-content: center;
}

.login {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.register-form {
  display: flex;
  flex-direction: column;
}

.p-float-label {
  margin: 2%;
  margin-top: 4%;
}

.input-group {
  display: flex;
  flex-direction: row;
}

.input-connect-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}
