<p-toast></p-toast>
<div class="home">
    <div class="background-politica" style="flex: 1;">

    </div>
<div class="politica">
    <span class="title">Politica</span>
    <span class="subtitle">Débattons du futur</span>

    <div class="button-group">
        <div class="login">
            <button pButton pRipple type="button" label="Inscription" class="politica-color p-button-raised p-button-text" (click)="showRegisterDialog()"></button>
            <button pButton pRipple type="button" label="Connexion" class="politica-color p-button-raised p-button-text" (click)="showLoginDialog()"></button>
        </div>
    </div>

    <div class="synospis">
        <p>
            Politica est un réseau social pour débattre de la politique française. Le fil d'actualité principale 
            vous donnera accès au débats emis par nos utilisateurs, mais aussi de publier vous mêmes un débats, sans oublier d'ajouter
            des liens d'articles de presse pour permettre aux autres personnes de s'informer sur le sujet dont vous voulez débattre.
        </p>
        <p>
            Lorsque que vous commentez un débat, n'oubliez de dire si votre commentaire argumente en faveur ou contre l'avis de l'auteur
            principal.
            Vous aurez accès aux source du débat en appuyant sur le bouton <i class="pi pi-info-circle"></i>.
            Si un argument vous semble en accord avec ce que vous pensez, aimez-le pour qu'il gagne en visibilté.
        </p>
        <p>
            <span>
                <h2>Vous cherchez à vous informer ?</h2>
                Pas de soucis ! Un onglet est disponible pour ça, où les utilisateurs identifié en tant que journaliste vous proposeront 
                Les dernières nouvelles du jour afin que vous ne ratiez rien !
                Nos journalistes reçoivent des blams en cas de fake news publiés, afin d'assurer le plus possible des informations toujours vraies.
            </span>
            <span>
                <h2> Envie de rejoindre l'équipe de journaliste ? </h2>
                Rendez-vous dans l'onglet profil, vous pourrez télécharger votre carte de presse et obtenir le statut de journaliste.
            </span>
        </p>
        <p>
            <span>
                <h2>Donnez votre avis</h2>
                L'onglet vote vous permettra de donner votre avis sur des sujet proposé par l'équipe Politica. 
                Afin de vous aider à prendre votre décision, un bouton débat <i class="pi pi-book"></i> et infos <i class="pi pi-info-circle"></i> vous donneront
                accès à une sélection de débats, et d'articles presse, sur le sujet.
            </span>
            <span>
                Les résultats sont publié dans le fil d'actualité principale sur la gauche.
            </span>
        </p>
        <p>
            <span>
                <h2>Reprenez le controle de vos données</h2>
                Dans l'onglet profil, vous pourrez aisément changer vos informations personnels tels que votre photo de profil, votre pseudo, votre genre,
                ou encore votre parti politique.
                Vous aurez aussi accès à un panneau de contrôle afin de gérer la diffusion de vos données personnelles au près de nos partenaires.
            </span>
        </p>
    </div>
</div>
<div class="background-politica" style="flex: 1;">

</div>
</div>
<p-dialog header="Inscription" [(visible)]="displayRegister" [breakpoints]="{'960px': '75vw'}" [style]="{width: '50vw'}"
    [draggable]="false" [resizable]="false" [modal]="true" [blockScroll]="true">
        <div class="register-form">
            <span class="p-float-label" *ngIf="usernameValid">
                <input id="float-input" type="text" pInputText pTooltip="Entrer votre prénom" [(ngModel)]="username"> 
                <label for="float-input">Pseudo</label>
            </span>
            <span class="p-float-label" *ngIf="!usernameValid">
                    <input
                    id="float-input-invalid"
                    type="text"
                    pInputText
                    pTooltip="Essayer un autre pseudo"
                    [(ngModel)]="username"
                    class="ng-invalid ng-dirty"
                    > 
                    <label for="float-input-invalid">Pseudo</label>
            </span>
            <div class="input-group">
                <span class="p-float-label">
                    <input id="float-input" type="text" pInputText pTooltip="Entrer votre prénom" [(ngModel)]="firstname"> 
                    <label for="float-input">Prénom</label>
                </span>
                <span class="p-float-label">
                    <input id="float-input" type="text" pInputText pTooltip="Entrer votre prénom" [(ngModel)]="lastname"> 
                    <label for="float-input">Nom</label>
                </span>
            </div>
            <div class="input-group">
                <span class="p-float-label">
                    <p-dropdown [options]="genreOptions" [(ngModel)]="genre" [showClear]="true"></p-dropdown>
                    <label for="float-input">genre</label>
                </span>
                <span class="p-float-label">
                    <p-dropdown [options]="partiOptions" [(ngModel)]="politicalParti" [showClear]="true"></p-dropdown>
                    <label for="float-input">Parti politique</label>
                </span>
            </div>
            <span class="p-float-label">
                <p-inputNumber inputId="integeronly" [(ngModel)]="age"></p-inputNumber>
                <label for="float-input">Age</label>
            </span>
            <div class="input-group">
                <span class="p-float-label" *ngIf="emailValid">
                    <input id="float-input" type="email" pInputText pTooltip="Entrer votre prénom" [(ngModel)]="email"> 
                    <label for="float-input">Email</label>
                </span>
                <span class="p-float-label" *ngIf="!emailValid">
                    <input
                    id="float-input-invalid"
                    type="text"
                    pInputText
                    pTooltip="Essayer un autre email"
                    [(ngModel)]="email"
                    class="ng-invalid ng-dirty"
                    > 
                    <label for="float-input-invalid">Email</label>
                </span>
                <span class="p-float-label" *ngIf="passwordValid">
                    <p-password [(ngModel)]="password" pTooltip="Entrer votre mot de passe" [feedback]="false"></p-password>
                    <label for="float-input">Mot de passe</label>
                </span>
                <span class="p-float-label" *ngIf="!passwordValid">
                    <p-password [(ngModel)]="password" pTooltip="Entrer votre mot de passe" [feedback]="false"></p-password>
                    <label for="float-input">Mot de passe</label>
                </span>
            </div>
            <div class="form-group" style="margin: 2%;">
                <input
                    type="file"
                    name="file"
                    id="input-files"
                    class=""
                    style="margin-top: 4%;"
                    [(ngModel)]="profilPicture"
                    (change)="selectFile($event)"
                />
                <div *ngIf="currentFile" class="progress my-3" style="margin-top: 1%;">
                    <p-progressBar [value]="progress"></p-progressBar>
                </div>
                <div *ngIf="message" class="alert alert-danger" role="alert">{{ message }}</div>
            </div>
            <span style="font-size: small; margin-top: 5%;">
                * Seul votre pseudo et votre parti politique sera rendu public,
                tout informations pourra être utilisé lors de sondage sous réserve de votre accord.
            </span>
            <span style="font-size: small;">
                ** La gestion de vos données vous appartient, vous pourrez la gérer dans la rubrique profil
            </span>
        </div>
        <ng-template pTemplate="footer">
        <p-button (click)="displayRegister=false" label="Annuler" styleClass="politica-color p-button-raised p-button-text"></p-button>
        <p-button (click)="checkRegistration()" label="S'incrire" styleClass="politica-color p-button-raised p-button-text"></p-button>
        </ng-template>
</p-dialog>

<p-dialog header="Se connecter" [(visible)]="displayLogin" [breakpoints]="{'960px': '75vw'}" [style]="{width: '50vw'}"
    [draggable]="false" [resizable]="false" [modal]="true" [blockScroll]="true">
        <div class="register-form">
            <div class="input-connect-group">
                <span class="p-float-label" *ngIf="!isLoginFailed">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon" ngDefaultControl [(ngModel)]="email"><i class="pi pi-user"></i></span>
                        <input type="text" [(ngModel)]="email" pInputText placeholder="Email">
                    </div>
                </span>
                <span class="p-float-label" *ngIf="isLoginFailed">
                    <div class="field">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon" ngDefaultControl [(ngModel)]="email"><i class="pi pi-user"></i></span>
                        <input type="text" pInputText pTooltip="Merci d'entrer un email valide" aria-describedby="email-help" class="ng-invalid ng-dirty" [(ngModel)]="email" pInputText placeholder="Email">
                    </div>
                    </div>
                </span>
                <span class="p-float-label" *ngIf="!isLoginFailed">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon" ngDefaultControl [(ngModel)]="password" pTooltip="Entrer votre mot de passe"><i class="pi pi-unlock"></i></span>
                        <input type="password" [(ngModel)]="password" pInputText placeholder="Mot de passe">
                    </div>
                </span>
                <span class="p-float-label" *ngIf="isLoginFailed">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon" ngDefaultControl [(ngModel)]="password" pTooltip="Entrer votre mot de passe"><i class="pi pi-unlock"></i></span>
                        <input type="password" pInputText pTooltip="Mot de passe invalide" aria-describedby="email-help" class="ng-invalid ng-dirty" [(ngModel)]="password" pInputText placeholder="Mot de passe">
                    </div>
                </span>
            </div>
        </div>
        <ng-template pTemplate="footer">
        <p-button (click)="displayLogin=false" label="Annuler" styleClass="politica-color p-button-raised p-button-text"></p-button>
        <p-button (click)="login()" label="S'incrire" styleClass="politica-color p-button-raised p-button-text"></p-button>
        </ng-template>
</p-dialog>