<p-toast></p-toast>
<div class="politica">
    <span class="title">Politica</span>
    <span class="subtitle">Débattons du futur</span>

    <div class="button-group">
        <div class="login">
            <button pButton pRipple type="button" label="S'inscrire" class="politica-color p-button-raised p-button-text" (click)="showRegisterDialog()"></button>
            <button pButton pRipple type="button" label="Se connecter" class="politica-color p-button-raised p-button-text" (click)="showLoginDialog()"></button>
        </div>
    </div>
</div>

<p-dialog header="Inscription" [(visible)]="displayRegister" [breakpoints]="{'960px': '75vw'}" [style]="{width: '50vw'}"
    [draggable]="false" [resizable]="false" [modal]="true" [blockScroll]="true">
        <div class="register-form">
            <span class="p-float-label" *ngIf="usernameValid">
                <input id="float-input" type="text" pInputText pTooltip="Entrer votre prénom" [(ngModel)]="username"> 
                <label for="float-input">Pseudo</label>
            </span>
            <span class="p-float-label" *ngIf="!usernameValid">
                    <input
                    id="float-input-invalid"
                    type="text"
                    pInputText
                    pTooltip="Essayer un autre pseudo"
                    [(ngModel)]="username"
                    class="ng-invalid ng-dirty"
                    > 
                    <label for="float-input-invalid">Pseudo</label>
            </span>
            <div class="input-group">
                <span class="p-float-label">
                    <input id="float-input" type="text" pInputText pTooltip="Entrer votre prénom" [(ngModel)]="firstname"> 
                    <label for="float-input">Prénom</label>
                </span>
                <span class="p-float-label">
                    <input id="float-input" type="text" pInputText pTooltip="Entrer votre prénom" [(ngModel)]="lastname"> 
                    <label for="float-input">Nom</label>
                </span>
            </div>
            <div class="input-group">
                <span class="p-float-label">
                    <p-dropdown [options]="genreOptions" [(ngModel)]="genre" [showClear]="true"></p-dropdown>
                    <label for="float-input">genre</label>
                </span>
                <span class="p-float-label">
                    <p-dropdown [options]="partiOptions" [(ngModel)]="politicalParti" [showClear]="true"></p-dropdown>
                    <label for="float-input">Parti politique</label>
                </span>
            </div>
            <span class="p-float-label">
                <p-inputNumber inputId="integeronly" [(ngModel)]="age"></p-inputNumber>
                <label for="float-input">Age</label>
            </span>
            <div class="input-group">
                <span class="p-float-label" *ngIf="emailValid">
                    <input id="float-input" type="email" pInputText pTooltip="Entrer votre prénom" [(ngModel)]="email"> 
                    <label for="float-input">Email</label>
                </span>
                <span class="p-float-label" *ngIf="!emailValid">
                    <input
                    id="float-input-invalid"
                    type="text"
                    pInputText
                    pTooltip="Essayer un autre email"
                    [(ngModel)]="email"
                    class="ng-invalid ng-dirty"
                    > 
                    <label for="float-input-invalid">Email</label>
                </span>
                <span class="p-float-label" *ngIf="passwordValid">
                    <p-password [(ngModel)]="password" pTooltip="Entrer votre mot de passe" [feedback]="false"></p-password>
                    <label for="float-input">Mot de passe</label>
                </span>
                <span class="p-float-label" *ngIf="!passwordValid">
                    <p-password [(ngModel)]="password" pTooltip="Entrer votre mot de passe" [feedback]="false"></p-password>
                    <label for="float-input">Mot de passe</label>
                </span>
            </div>
            <div class="form-group" style="margin: 2%;">
                <input
                    type="file"
                    name="file"
                    id="input-files"
                    class=""
                    style="margin-top: 4%;"
                    [(ngModel)]="profilPicture"
                    (change)="selectFile($event)"
                />
                <div *ngIf="currentFile" class="progress my-3" style="margin-top: 1%;">
                    <p-progressBar [value]="progress"></p-progressBar>
                </div>
                <div *ngIf="message" class="alert alert-danger" role="alert">{{ message }}</div>
            </div>
            <span style="font-size: small; margin-top: 5%;">
                * Seul votre pseudo et votre parti politique sera rendu public,
                tout informations pourra être utilisé lors de sondage sous réserve de votre accord.
            </span>
            <span style="font-size: small;">
                ** La gestion de vos données vous appartient, vous pourrez la gérer dans la rubrique profil
            </span>
        </div>
        <ng-template pTemplate="footer">
        <p-button (click)="displayRegister=false" label="Annuler" styleClass="politica-color p-button-raised p-button-text"></p-button>
        <p-button (click)="checkRegistration()" label="S'incrire" styleClass="politica-color p-button-raised p-button-text"></p-button>
        </ng-template>
</p-dialog>

<p-dialog header="Se connecter" [(visible)]="displayLogin" [breakpoints]="{'960px': '75vw'}" [style]="{width: '50vw'}"
    [draggable]="false" [resizable]="false" [modal]="true" [blockScroll]="true">
        <div class="register-form">
            <div class="input-connect-group">
                <span class="p-float-label" *ngIf="!isLoginFailed">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon" ngDefaultControl [(ngModel)]="email"><i class="pi pi-user"></i></span>
                        <input type="text" [(ngModel)]="email" pInputText placeholder="Email">
                    </div>
                </span>
                <span class="p-float-label" *ngIf="isLoginFailed">
                    <div class="field">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon" ngDefaultControl [(ngModel)]="email"><i class="pi pi-user"></i></span>
                        <input type="text" pInputText pTooltip="Merci d'entrer un email valide" aria-describedby="email-help" class="ng-invalid ng-dirty" [(ngModel)]="email" pInputText placeholder="Email">
                    </div>
                    </div>
                </span>
                <span class="p-float-label" *ngIf="!isLoginFailed">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon" ngDefaultControl [(ngModel)]="password" pTooltip="Entrer votre mot de passe"><i class="pi pi-unlock"></i></span>
                        <input type="password" [(ngModel)]="password" pInputText placeholder="Mot de passe">
                    </div>
                </span>
                <span class="p-float-label" *ngIf="isLoginFailed">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon" ngDefaultControl [(ngModel)]="password" pTooltip="Entrer votre mot de passe"><i class="pi pi-unlock"></i></span>
                        <input type="password" pInputText pTooltip="Mot de passe invalide" aria-describedby="email-help" class="ng-invalid ng-dirty" [(ngModel)]="password" pInputText placeholder="Mot de passe">
                    </div>
                </span>
            </div>
        </div>
        <ng-template pTemplate="footer">
        <p-button (click)="displayLogin=false" label="Annuler" styleClass="politica-color p-button-raised p-button-text"></p-button>
        <p-button (click)="login()" label="S'incrire" styleClass="politica-color p-button-raised p-button-text"></p-button>
        </ng-template>
</p-dialog>