@import "../../../../styles.scss";

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile {
  margin: 5%;
}

.debate-feed {
  width: 100%;
}

.card-display {
  display: flex;
}

.news {
  display: flex;
  justify-content: center;
}

.last-news {
  width: 80%;
}

.card-container {
  margin: 5%;
  margin-top: 0%;
  margin-bottom: 2%;
  padding: 0%;
  background-color: rgb(226, 226, 226);
}

.card-content {
  padding: 2%;
}

.footer-news-display {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-debate-display {
  display: flex;
  justify-content: space-evenly;
}

.news-image {
  width: 250px;
  height: 150px;
}

.debate-input {
  display: flex;
  justify-content: center;
  margin: 1%;
}

.input-width {
  width: 35%;
}

.p-button-politica {
  background-color: $politica-violet-color;
  border: $politica-violet-color;
}

.card-content {
  padding: 2%;
}

.p-card-title,
.p-card-subtitle {
  margin-bottom: 0;
}

.p-card-content {
  padding: 0;
}

.p-card-footer {
  padding: 0.5rem 0 0 0;
  font-size: 16px;
}

.profil-information {
  width: 40%;
}

.pdp {
  width: 40%;
  height: 100%;
}

.stick-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.debate-comments {
  padding: 1%;
  margin: 2%;
}

.comment-for {
  background-color: white;
  border: solid rgb(11, 167, 11);
  border-radius: 6px;
}

.comment-against {
  background-color: white;
  border: solid red;
  border-radius: 6px;
}

.input-comments {
  width: 100%;
}

.green {
  color: green;
  background-color: green;
}

.news-image {
  padding: 2%;
}

.addVote {
  border: $politica-violet-color;
  border: $politica-violet-color solid 1px;
  border-radius: 7px 7px 0 0;
}

.add-vote-title {
  padding-left: 5%;
  background-color: $politica-violet-color;
  width: 100%;
  height: 20%;
  font-size: 25px;
  font-weight: 700;
  color: white;
  display: flex;
  border-radius: 6px 6px 0 0;
  justify-content: center;
}

:host ::ng-deep .p-dialog-resizable {
  width: 90% !important;
  max-width: 800px;
}

:host ::ng-deep .p-float-label {
  margin-top: 4%;
}

@media screen and (width < 350px) {
  .font-footer {
    font-size: 5vw;
  }

  .p-card-title {
    font-size: 20px;
  }

  .news-image {
    width: 120px !important;
    height: 75px !important;
  }
}

@media screen and (width < 430px) {
  .input-width {
    width: 60%;
  }

  .news-content-space {
    height: 25px;
    font-size: 10px;
  }
}

@media screen and (width < 560px) and (width > 430px) {
  .news-content-space {
    height: 40px;
    font-size: 10px;
  }
}

@media screen and (width < 650px) {
  .card-display-add {
    flex-direction: column;
  }

  .modify-width {
    width: 100% !important;
  }

  .news-image {
    width: 150px;
    height: 115px;
  }
}
