<app-menu-admin></app-menu-admin>
<p-toast></p-toast>
<div class="content p-component">
    <div class="profile">
        <div class="addVote">
            <span class="add-vote-title"> Ajouter un vote </span>
            <form #form="ngForm" (submit)="submit(form)" style="width: 100">
                <div style="display: flex; flex-direction: column;">
                    <label for="vote" style="margin: 2%;">
                        <input
                        type="text"
                        ngModel
                        name="vote"
                        id="vote"
                        class="p-inputtext-sm input-comments"
                        pInputText
                        maxlength="255"
                        placeholder="Ajouter un vote ...">
                    </label>
                    <label for="closeDate" style="margin: 2%;">
                        <p-calendar name="closeDate" [(ngModel)]="closeDate" placeholder="Date de clotûre des votes"></p-calendar>
                    </label>
                    <div style="width: 100%; display: flex; justify-content: center;">
                    <button 
                        pButton
                        pRipple
                        type="submit"
                        label="Publier"
                        class="p-button p-button-politica p-button-sm"
                        style="width: 10%; min-width: 75px;"
                        >
                    </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="debate-feed">
        
    </div>
    <div class="profile">
        <div class="addVote">
            <div class="p-card card-display" *ngFor="let news of newsList" (click)="showDialog(news._id)">
                <div class="news-image">
                    <img class="p-avatar p-avatar-lg news-image" _ngcontent-qqs-c76="" [src]="sanitize('data:image/jpg;base64, ' + news.image)" />
                </div>
                <div class="card-content" style="--lh: 1.2rem; line-height: var(--lh);">
                    <div class="p-card-title" style="word-wrap: break-word; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; min-height: 30px;"> {{ news.title }} </div>
                    <div class="p-card-subtitle"></div>
                    <div class="p-card-content news-content-space truncate-overflow"> {{ news.content }} </div>
                    <div class="p-card-footer news-footer">
                        <span class="font-footer"> <a target="_blank" [href]="news.source" style="text-decoration: none;">{{ news.sourceName }}</a>- {{ news.journalist.username }} - {{ formatDate(news.dateTime) }} </span>
                    </div>
                    <button pButton pRipple (click)="deleteNews(news)" label="Delete" icon="pi pi-trash"></button>
                </div>
            </div>
        </div>
    </div>
</div>

<p-dialog [header]="showNews.title" [modal]="true" [(visible)]="display" [dismissableMask]="true">
    <p>
        {{ showNews.content }}
    </p>
    <ng-template pTemplate="footer">
        <a target="_blank" [href]="showNews.source" style="text-decoration: none;">{{ showNews.sourceName }}</a> - {{ showNews.journalist.username }} - {{ formatDate(showNews.dateTime) }}
    </ng-template>
</p-dialog>
