<app-menu></app-menu>
<div class="debate-input"></div>
<div class="content p-component">
    <div class="profile">
        <div class="stick-left">
            <img class="p-avatar p-avatar-lg pdp" _ngcontent-qqs-c76="" [src]="profil.profilPicture"/>
            <div class="profil-information">
                <div class="p-card-title"> {{ profil.username }} </div>
                <div class="p-card-subtitle"></div>
                <div class="p-card-content">
                    {{ profil.politicalParty }}
                </div>
                <div class="p-card-content">
                    {{ profil.genre }}
                </div>
                <div *ngIf="profil.journalist" class="p-card-footer">
                    <button pButton pRipple type="button" label="Journaliste" class="p-button-rounded p-button-success p-button-sm"></button>
                </div>
                <div *ngIf="!profil.journalist" class="p-card-footer">
                    <button pButton pRipple type="button" label="Utilisateur" class="p-button-rounded p-button-warning p-button-sm"></button>
                </div>
            </div>
        </div>
    </div>
    <div class="debate-feed">
        <div class="p-card card-display" *ngFor="let vote of voteList">
            <div class="card-content">
                <div class="p-card-title title-vote"> {{ vote.subject }} </div>
                <div class="p-card-content vote-content-space">
                    <button pButton pRipple type="button" class="p-button-primary vote-button">
                        <i class="pi pi-book"> les débats </i>
                    </button>
                    <button pButton pRipple type="button" class="p-button-primary vote-button">
                        <i class="pi pi-info-circle"> les informations essentielles </i>
                    </button>
                </div>
                <div class="p-card-footer vote-footer">
                    <button pButton pRipple type="button" class="p-button-success">
                        <i class="pi pi-check"> {{ vote.for_vote }} </i>
                    </button>
                    <button pButton pRipple type="button" class="p-button-danger">
                    <i class="pi pi-times" style="margin-left: 15px;"> {{ vote.against_vote }} </i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="news">
    </div>
</div>
