<app-menu></app-menu>
<p-toast></p-toast>
<div class="debate-input"></div>
<div class="content p-component">
    <div class="profile">
        <div class="stick-left" *ngIf="isLoggedIn">
            <img class="p-avatar p-avatar-lg pdp" *ngIf="!(profil.profilPicture === undefined)" _ngcontent-qqs-c76="" [src]="sanitize('data:image/jpg;base64, ' + profil.profilPicture)"/>
            <img class="p-avatar p-avatar-lg pdp" *ngIf="profil.profilPicture === undefined" _ngcontent-qqs-c76="" src="../../../assets/PDP.webp"/>
            <div class="profil-information">
                <div class="p-card-title"> {{ profil.username }} </div>
                <div class="p-card-subtitle"></div>
                <div class="p-card-content">
                    {{ profil.politicalParti }}
                </div>
                <div class="p-card-content">
                    {{ profil.genre }}
                </div>
                <div *ngIf="profil.journalist" class="p-card-footer">
                    <p-tag styleClass="mr-2" severity="success" value="Journaliste" [rounded]="true"></p-tag>
                </div>
            </div>
        </div>
    </div>
    <div class="debate-feed">
        <div class="p-card card-display" *ngFor="let vote of voteList">
            <div class="card-content">
                <div class="p-card-title title-vote"> {{ vote.label }} </div>
                <div class="p-card-content vote-content-space">
                    <p-button label="débats" icon="pi pi-book" styleClass="p-button-sm" class="vote-button"></p-button>
                    <p-button label="infos" icon="pi pi-info-circle" styleClass="p-button-sm" class="vote-button" ></p-button>
                </div>
                <div class="p-card-footer vote-footer">
                    <button pButton pRipple type="button" (click)="updateVote(true, vote._id)" class="p-button-success p-button-text">
                        <i class="pi pi-check"> {{ vote.for_vote }} </i>
                    </button>
                    <button pButton pRipple type="button" (click)="updateVote(false, vote._id)" class="p-button-danger p-button-text">
                    <i class="pi pi-times" style="margin-left: 15px;"> {{ vote.against_vote }} </i>
                    </button>
                </div>
                <!-- 
                <div class="p-card-footer" *ngIf="vote.voted">
                    <span style="margin: 1%;">
                        <p-progressBar [value]="vote.percentageFor"></p-progressBar>
                        Pour
                    </span>
                    <span style="margin: 1%">
                        <p-progressBar [value]="vote.percentageAgainst"></p-progressBar>
                        Contre
                    </span>
                </div>
                -->
            </div>
        </div>
    </div>
    <div class="news">
    </div>
</div>
