@import "../../../styles.scss";

.content {
  display: flex;
  justify-content: center;
}

.user-info {
  width: 50%;
}

.debate-feed {
  width: 50%;
}

.p-card-title {
  text-transform: uppercase;
}

.card-display {
  display: flex;
  margin: 5%;
  padding: 2%;
  margin-top: 0%;
}

.panel-control {
  margin: 5%;
  padding: 2%;
  margin-top: 0%;
}

.card-content {
  padding: 2%;
}

.footer-news-display {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.news-image {
  width: 100%;
}

.debate-input {
  display: flex;
  justify-content: center;
  margin: 1%;
}

.input-width {
  width: 35%;
}

.p-button-politica {
  background-color: $politica-violet-color;
  border: $politica-violet-color;
}

.card-content {
  padding: 0 0 0 2%;
  width: 100%;
}

.p-card-title,
.p-card-subtitle {
  margin-bottom: 0;
}

.p-card-content {
  padding: 0;
}

.p-card-footer {
  padding: 0.5rem 0 0 0;
  font-size: 16px;
}

.profil-information {
  width: 150px;
}

.pdp {
  width: 150px;
  height: 150px;
}

.stick-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.data-controller {
  display: flex;
  justify-content: space-between;
}

.footer-debate-display {
  display: flex;
  justify-content: space-evenly;
}

.logout {
  position: absolute;
  bottom: 2%;
  right: 1%;
}

.p-float-label {
  margin: 2%;
  margin-top: 30px;
  max-width: 100%;
}

.p-inputtext {
  max-width: 100%;
}

.p-dialog {
  width: 100vw !important;
}

@media screen and (width < 950px) {
  .user-info {
    width: 90%;
  }
}

@media screen and (width < 450px) {
  .pdp {
    width: 100px;
    height: 100px;
  }

  .data-controller {
    font-size: smaller;
    margin-top: 5%;
  }
}

@media screen and (width < 350px) {
  .pdp {
    width: 50px;
    height: 50px;
  }
}
