<app-menu></app-menu>
<p-toast></p-toast>
<div class="content">
    <div class="user-info" *ngIf="isLoggedIn">
        <div class="p-card card-display" style="position: relative;">
            <img class="p-avatar p-avatar-lg pdp" *ngIf="!(profil.profilPicture === undefined)" _ngcontent-qqs-c76="" [src]="sanitize('data:image/jpg;base64, ' + profil.profilPicture)"/>
            <img class="p-avatar p-avatar-lg pdp" *ngIf="profil.profilPicture === undefined" _ngcontent-qqs-c76="" src="../../../assets/PDP.webp"/>
            <div class="card-content">
                <div class="p-card-title"> {{ profil.username }} </div>
            <div class="p-card-subtitle">
                {{ profil.firstName }}
                {{ profil.lastName }}
            </div>
            <div class="p-card-content">
                {{ profil.politicalParti }}
            </div>
            <div *ngIf="profil.journalist" class="p-card-footer">
                <p-tag styleClass="mr-2" severity="success" value="Journaliste" [rounded]="true"></p-tag>
                <p-badge [value]="profil.indicator.toString()" severity="info" styleClass="mr-2"></p-badge>
            </div>
            <div>
                <button pButton pRipple type="button" (click)="showEditDialog()" label="Edit" class="politica-color p-button-info p-button-text"></button>
                <button pButton pRipple type="button" (click)="logout()" label="" class="p-button-danger p-button-sm logout"><i class="pi pi-sign-out"></i></button>
            </div>
        </div>
    </div>
    <div class="p-card panel-control" *ngIf="isLoggedIn">
        <h3 _ngcontent-tcu-c76="">Panneau de contrôle</h3>
        <div class="data-controller" *ngIf="!(profil.politicalParti === 'Indécis' || profil.politicalParti === 'Sans parti')">
            <span>Partager mes données avec <span style="font-weight: 700;" >{{ profil.politicalParti }}</span></span>
            <p-inputSwitch (click)="updateUser()" [(ngModel)]="profil.shareOne"></p-inputSwitch>
        </div>
        <div class="data-controller">
            <span>Partager mes données avec <span style="font-weight: 700;" > l'ensemble des partis politique</span></span>
            <p-inputSwitch (click)="updateUser()" [(ngModel)]="profil.shareAll"></p-inputSwitch>
        </div>
        <div class="data-controller">
            <span>Partager mes données avec <span style="font-weight: 700;" >Politica</span></span>
            <p-inputSwitch (click)="updateUser()" [(ngModel)]="profil.shareApp"></p-inputSwitch>
        </div>
        <div class="data-controller" *ngIf="darkModeOK">
            <span>Mode Sombre</span>
            <p-inputSwitch (click)="updateUser()" [(ngModel)]="profil.darkMode"></p-inputSwitch>
        </div>
    </div>
    <div class="p-card panel-control" style="display: flex; flex-direction: column; align-items: center;" *ngIf="!profil.journalist">
        <div> Devenez journaliste en téléchargeant votre carte de presse</div>
        <div>
            <div class="form-group" style="display: flex; align-items: center;">
                <input
                    type="file"
                    name="file"
                    id="input-files"
                    class=""
                    style="margin-top: 4%;"
                    [(ngModel)]="journalistImage"
                    (change)="selectFile($event)"
                />
                <div style="margin-top: 4%;">
                    <p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>
                    <p-button (click)="confirm()" [disabled]="!selectedFiles" icon="pi pi-check" label="Devenir journaliste" styleClass="mr-2"></p-button>
                </div>
                <div *ngIf="message" class="alert alert-danger" role="alert">{{ message }}</div>
            </div>
        </div>
    </div>
    <div class="p-card card-container card-display" *ngFor="let debate of debateList">
        <img class="p-avatar p-avatar-lg" *ngIf="!(profil.profilPicture === undefined)" _ngcontent-qqs-c76="" [src]="sanitize('data:image/jpg;base64, ' + profil.profilPicture)"/>
            <img class="p-avatar p-avatar-lg" *ngIf="profil.profilPicture === undefined" _ngcontent-qqs-c76="" src="../../../assets/PDP.webp"/>
        <div class="card-content">
            <div class="p-card-title" style="color:black;"  [routerLink]="['/debate-details', debate._id]"> {{ debate.user.username }} </div>
            <div class="p-card-subtitle"  [routerLink]="['/debate-details', debate._id]"></div>
            <div class="p-card-content" style="color:black;"  [routerLink]="['/debate-details', debate._id]"> {{ debate.message }} </div>
            <div class="p-card-footer footer-debate-display"> 
                <button pButton pRipple type="button" class="p-button-text"><span>{{ debate.comment.length }} <i class="pi pi-comments"></i></span></button>
                <button pButton pRipple type="button" class="p-button p-button-text" (click)="likeDebate(debate._id)">
                    <span>
                        {{ debate.interest_score }}
                        <i [ngClass]= "isDebateLiked(debate._id) ? 'pi pi-star-fill' : 'pi pi-star'"></i>
                    </span>
                </button>
            </div>
        </div>
    </div>
    <div class="p-card card-container card-display" *ngFor="let news of newsList" (click)="showDialog(news._id)">
        <div class="news-image">
            <img class="p-avatar p-avatar-lg news-image" _ngcontent-qqs-c76="" [src]="sanitize('data:image/jpg;base64, ' + news.image)" />
        </div>
        <div class="card-content news-content-space" style="--lh: 1.2rem; line-height: var(--lh);">
            <div class="p-card-title" style="word-wrap: break-word; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; min-height: 30px;"> {{ news.title }} </div>
            <div class="p-card-subtitle"></div>
            <div class="p-card-content truncate-overflow"> {{ news.content }} </div>
            <div class="p-card-footer news-footer">
                <span class="font-footer"> <a target="_blank" [href]="news.source" style="text-decoration: none;">{{ news.sourceName }}</a>- {{ news.journalist.username }} - {{ formatDate(news.dateTime) }} </span>
            </div>
        </div>
    </div>
    <p-dialog *ngIf="showNews" [header]="showNews.title" [modal]="true" [(visible)]="display" [dismissableMask]="true">
        <p>
            {{ showNews.content }}
        </p>
        <ng-template pTemplate="footer">
            <a target="_blank" [href]="showNews.source" style="text-decoration: none;">{{ showNews.sourceName }}</a> - {{ showNews.journalist.username }} - {{ formatDate(showNews.dateTime) }}
        </ng-template>
    </p-dialog>
</div>

<p-dialog header="Editer le profil" *ngIf="changeProfil" [(visible)]="displayEdit" [breakpoints]="{'960px': '100vw'}" [style]="{'width': '50vw', 'min-height': '500px'}"
    [draggable]="false" [resizable]="false" [modal]="true" [blockScroll]="true">
    <div class="register-form">
        <span class="p-float-label" *ngIf="usernameValid">
            <input id="float-input" type="text" pInputText pTooltip="Entrer votre prénom" [(ngModel)]="changeProfil.username"> 
            <label for="float-input">Pseudo</label>
        </span>
        <span class="p-float-label" *ngIf="!usernameValid">
                <input
                id="float-input-invalid"
                type="text"
                pInputText
                pTooltip="Essayer un autre pseudo"
                [(ngModel)]="changeProfil.username"
                class="ng-invalid ng-dirty"
                > 
                <label for="float-input-invalid">Pseudo</label>
        </span>
        <span class="p-float-label">
            <p-dropdown [options]="partiOptions" [(ngModel)]="changeProfil.politicalParti" [showClear]="true"></p-dropdown>
            <label for="float-input">Parti politique</label>
        </span>
        <div class="input-group">
            <span class="p-float-label">
                <p-dropdown [options]="genreOptions" [(ngModel)]="changeProfil.genre" [showClear]="true"></p-dropdown>
                <label for="float-input">genre</label>
            </span>
        </div>
        <div class="form-group" style="margin: 2%;">
            <input
                type="file"
                name="file"
                id="input-files"
                class=""
                style="margin-top: 4%;"
                [(ngModel)]="changeProfil.profilPicture"
                (change)="selectFile($event)"
            />
            <button pButton pRipple class="p-button p-button-sm" [disabled]="!selectedFiles" (click)="upload()">
                Upload
            </button>
            <div *ngIf="currentFile" class="progress my-3" style="margin-top: 1%;">
                <p-progressBar [value]="progress"></p-progressBar>
            </div>
            <div *ngIf="message" class="alert alert-danger" role="alert">{{ message }}</div>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <p-button (click)="displayEdit=false" label="Annuler" styleClass="politica-color p-button-raised p-button-text"></p-button>
        <p-button (click)="updateNewUser()" label="Confirmer" styleClass="politica-color p-button-raised p-button-text"></p-button>
    </ng-template>
</p-dialog>
