@import "../../../styles.scss";

.content {
  display: flex;
  justify-content: center;
}

.user-info {
  width: 50%;
}

.debate-feed {
  width: 50%;
}

.p-card-title {
  text-transform: uppercase;
}

.card-content {
  width: 100%;
}

.card-display {
  display: flex;
  margin: 5%;
  padding: 2%;
  margin-top: 0%;
}

.panel-control {
  margin: 5%;
  padding: 2%;
  margin-top: 0%;
}

.news-content-space,
.news-footer {
  position: relative;
  padding: 2%;
  max-width: calc(100% - 250px);
}

.footer-news-display {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.news-image {
  width: 250px;
  height: 150px;
}

.debate-input {
  display: flex;
  justify-content: center;
  margin: 1%;
}

.input-width {
  width: 35%;
}

.p-button-politica {
  background-color: $politica-violet-color;
  border: $politica-violet-color;
}

.p-card-title,
.p-card-subtitle {
  margin-bottom: 0;
}

.p-card-content {
  padding: 0;
}

.card-content {
  padding: 0 0 0 2%;
}

.p-card-footer {
  padding: 0.5rem 0 0 0;
  font-size: 16px;
}

.profil-information {
  width: 150px;
}

.pdp {
  width: 150px;
  height: 150px;
}

.stick-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.data-controller {
  display: flex;
  justify-content: space-between;
}

.footer-debate-display {
  display: flex;
  justify-content: space-evenly;
}

.logout {
  position: absolute;
  bottom: 2%;
  right: 1%;
}

.p-float-label {
  margin: 2%;
  margin-top: 30px;
  max-width: 100%;
}

.p-inputtext {
  max-width: 100%;
}

.p-dialog {
  width: 100vw !important;
}

.font-footer {
  display: block ruby;
}

.truncate-overflow {
  --max-lines: 4;
  position: relative;
  max-height: calc(var(--lh) * var(--max-lines));
  overflow: hidden;
  padding-right: 1rem; /* space for ellipsis */
}
.truncate-overflow::before {
  position: absolute;
  content: "...";
  inset-block-end: 0; /* "bottom" */
  inset-inline-end: 0; /* "right" */
}
.truncate-overflow::after {
  content: "";
  position: absolute;
  right: 0;
  width: 1rem;
  height: 1rem;
  background: white;
}

@media screen and (width < 1300px) {
  .user-info {
    width: 90%;
  }
}

@media screen and (width < 450px) {
  .pdp {
    width: 100px;
    height: 100px;
  }

  .data-controller {
    font-size: smaller;
    margin-top: 5%;
  }
}

@media screen and (width < 350px) {
  .pdp {
    width: 50px;
    height: 50px;
  }

  .little-picture {
    width: 50px !important;
    height: 50px !important;
  }

  .font-footer {
    font-size: 2.5vw;
  }

  .p-card-title {
    font-size: 20px;
  }

  .news-image {
    width: 120px;
    height: 75px;
  }

  .news-content-space {
    font-size: 10px;
  }

  .news-content-space,
  .news-footer {
    max-width: calc(100% - 50px);
  }
}

@media screen and (width < 650px) and (width > 350px) {
  .input-width {
    width: 60%;
  }

  .card-display-add {
    flex-direction: column;
  }

  .modify-width {
    width: 100% !important;
  }

  .news-image {
    width: 150px;
    height: 115px;
  }

  .news-content-space,
  .news-footer {
    max-width: calc(100% - 150px);
  }

  .news-content-space {
    font-size: 10px;
  }
}

@media screen and (width < 1180px) and (width > 950px) {
  .font-footer {
    font-size: 1vw;
  }
}

@media screen and (width < 530px) {
  .font-footer {
    font-size: 2vw;
  }

  .form-group {
    flex-direction: column;
  }
}

// on personnalise le label comme on veut
.label-file {
  cursor: pointer;
  color: $politica-violet-color;
  font-weight: bold;
}
.label-file:hover {
  color: $politica-violet-color;
}

// et on masque le input
.input-file {
  display: none;
}

:host ::ng-deep .p-progressbar .p-progressbar-value {
  background: $politica-violet-color;
}
