<app-menu></app-menu>
<div class="debate-input">
</div>
<div class="content p-component">
    <div class="profile">
        <div class="stick-left">
            <img class="p-avatar p-avatar-lg pdp" _ngcontent-qqs-c76="" [src]="profil.profilPicture"/>
            <div class="profil-information">
                <div class="p-card-title"> {{ profil.username }} </div>
                <div class="p-card-subtitle"></div>
                <div class="p-card-content">
                    {{ profil.politicalParty }}
                </div>
                <div class="p-card-content">
                    {{ profil.genre }}
                </div>
                <div *ngIf="profil.journalist" class="p-card-footer">
                    <p-tag styleClass="mr-2" severity="success" value="Journaliste" [rounded]="true"></p-tag>
                </div>
            </div>
        </div>
    </div>
    <div class="debate-feed">
        <div class="p-card card-display" *ngFor="let news of newsList">
            <img class="p-avatar p-avatar-lg news-image" _ngcontent-qqs-c76="" src="../../../assets/PDP.png" />
            <div class="card-content">
                <div class="p-card-title"> {{ news.title }} </div>
                <div class="p-card-subtitle"></div>
                <div class="p-card-content news-content-space"> {{ news.content }} </div>
                <div class="p-card-footer news-footer">
                    <span class="font-footer"> {{ news.source }} - {{ news.id_journalist }} </span>
                </div>
            </div>
        </div>
    </div>
    <div class="news">
    </div>
</div>
