<app-menu></app-menu>
<div class="debate-input">
    <input type="text" pInputText class="p-inputtext-sm input-width" placeholder="Exprimez-vous...">  
    <button pButton pRipple type="button" label="Publier" class="p-button p-button-politica p-button-sm"></button>
</div>
<div class="content p-component">
    <div class="profile">
        <div class="stick-left">
            <img class="p-avatar p-avatar-lg pdp" _ngcontent-qqs-c76="" [src]="profil.profilPicture"/>
            <div class="profil-information">
                <div class="p-card-title"> {{ profil.username }} </div>
                <div class="p-card-subtitle"></div>
                <div class="p-card-content">
                    {{ profil.politicalParty }}
                </div>
                <div class="p-card-content">
                    {{ profil.genre }}
                </div>
                <div *ngIf="profil.journalist" class="p-card-footer">
                    <button pButton pRipple type="button" label="Journaliste" class="p-button-rounded p-button-success p-button-sm"></button>
                </div>
            </div>
        </div>
    </div>
    <div class="debate-feed">
        <div class="p-card card-display" *ngFor="let news of newsList">
            <img class="p-avatar p-avatar-lg news-image" _ngcontent-qqs-c76="" src="../../../assets/PDP.png" />
            <div class="card-content">
                <div class="p-card-title"> {{ news.title }} </div>
                <div class="p-card-subtitle"></div>
                <div class="p-card-content news-content-space"> {{ news.content }} </div>
                <div class="p-card-footer news-footer">
                    <i class="pi pi-upload"> {{ news.source }} </i>
                    <i class="pi pi-pencil" style="margin-left: 15px;"> {{ news.id_journalist }} </i>
                </div>
            </div>
        </div>
    </div>
    <div class="news">
    </div>
</div>
