@import "../../../styles.scss";

.content {
  display: flex;
  flex-direction: row;
}

.profile {
  width: 25%;
}

.debate-feed {
  width: 50%;
}

.card-display {
  display: flex;
  margin: 2%;
  padding: 1%;
  margin-top: 0%;
  min-height: 100px;
}

.card-content {
  padding: 2%;
}

.footer-news-display {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.news-image {
  width: 100%;
}

.debate-input {
  display: flex;
  justify-content: center;
  margin: 1%;
}

.input-width {
  width: 35%;
}

.p-button-politica {
  background-color: $politica-violet-color;
  border: $politica-violet-color;
}

.card-content {
  position: relative;
  padding: 0 0 0 2%;
  width: 100%;
}

.p-card-title,
.p-card-subtitle {
  margin-bottom: 0;
}

.p-card-content {
  padding: 0;
}

.p-card-footer {
  padding: 0.5rem 0 0 0;
  font-size: 16px;
}

.profil-information {
  width: 40%;
}

.pdp {
  width: 40%;
  height: 100%;
}

.stick-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.news-image {
  min-width: 25%;
  width: 25%;
  height: 100%;
  max-height: 250px;
}

.news-footer {
  position: absolute;
  bottom: 0;
}

.news-content-space {
  word-wrap: break-word;
  text-overflow: ellipsis;
  overflow: hidden;
  max-height: 65px;
}

.font-footer {
  display: block ruby;
}

.truncate-overflow {
  --max-lines: 4;
  position: relative;
  max-height: calc(var(--lh) * var(--max-lines));
  overflow: hidden;
  padding-right: 1rem; /* space for ellipsis */
}
.truncate-overflow::before {
  position: absolute;
  content: "...";
  inset-block-end: 0; /* "bottom" */
  inset-inline-end: 0; /* "right" */
}
.truncate-overflow::after {
  content: "";
  position: absolute;
  right: 0;
  width: 1rem;
  height: 1rem;
  background: white;
}

:host ::ng-deep .p-dialog-resizable {
  width: 90% !important;
  max-width: 800px;
}

:host ::ng-deep .p-float-label {
  margin-top: 4%;
}

@media screen and (width < 1050px) {
  .profile {
    display: none;
  }

  .news {
    display: none;
  }

  .content {
    justify-content: center;
  }

  .debate-feed {
    width: 95%;
  }
}

@media screen and (width < 350px) {
  .font-footer {
    font-size: 5vw;
  }

  .p-card-title {
    font-size: 20px;
  }
}

@media screen and (width < 430px) {
  .input-width {
    width: 60%;
  }

  .news-content-space {
    height: 25px;
    font-size: 10px;
  }
}

@media screen and (width < 560px) and (width > 430px) {
  .news-content-space {
    height: 40px;
    font-size: 10px;
  }
}

@media screen and (width < 650px) {
  .card-display {
    flex-direction: column;
  }

  .modify-width {
    width: 100% !important;
  }
}
