<app-menu></app-menu>
<div class="debate-input">
</div>
<div class="content p-component">
    <div class="profile">
        <div class="stick-left" *ngIf="isLoggedIn">
            <img class="p-avatar p-avatar-lg pdp" *ngIf="!(profil.profilPicture === undefined)" _ngcontent-qqs-c76="" [src]="sanitize('data:image/jpg;base64, ' + profil.profilPicture)"/>
            <img class="p-avatar p-avatar-lg pdp" *ngIf="profil.profilPicture === undefined" _ngcontent-qqs-c76="" src="../../../assets/PDP.webp"/>
            <div class="profil-information">
                <div class="p-card-title"> {{ profil.username }} </div>
                <div class="p-card-subtitle"></div>
                <div class="p-card-content">
                    {{ profil.politicalParti }}
                </div>
                <div class="p-card-content">
                    {{ profil.genre }}
                </div>
                <div *ngIf="profil.journalist" class="p-card-footer">
                    <p-tag styleClass="mr-2" severity="success" value="Journaliste" [rounded]="true"></p-tag>
                </div>
            </div>
        </div>
    </div>
    <div class="debate-feed" *ngIf="isLoggedIn">
        <div class="p-card card-container" *ngIf="debate !== undefined">
            <div class="p-card">
                <div class="card-display">
                    <img class="p-avatar p-avatar-lg" *ngIf="!(debate.user.profilPicture === undefined)" _ngcontent-qqs-c76="" [src]="sanitize('data:image/jpg;base64, ' + debate.user.profilPicture)"/>
                    <img class="p-avatar p-avatar-lg" *ngIf="debate.user.profilPicture === undefined" _ngcontent-qqs-c76="" src="../../../assets/PDP.webp"/>
                <div class="card-content">
                    <div class="p-card-title"> {{ debate.user.username }} </div>
                    <div class="p-card-subtitle"></div>
                    <div class="p-card-content"> {{ debate.message }} </div>
                    <div class="p-card-footer footer-debate-display"> 
                        <button pButton pRipple type="button" class="p-button-text"><span>{{ debate.comment.length }} <i class="pi pi-comments"></i></span></button>
                        <button pButton pRipple type="button" class="p-button p-button-text" (click)="likeDebate(debate._id, debate)">
                            <span>
                                {{ debate.interest_score }}
                                <i [ngClass]= "isDebateLiked(debate._id) ? 'pi pi-star-fill' : 'pi pi-star'"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
                <div class="p-card-footer footer-debate-display">
                    <form #form="ngForm" (submit)="submit(form, debate._id)" style="width: 100%; display: flex; justify-content: space-between;">
                        <label for="comment" style="flex: 4;">
                            <input
                            type="text"
                            style="height: 100%; border-color: transparent;"
                            ngModel
                            name="comment"
                            id="comment"
                            pInputText
                            class="p-inputtext-sm input-comments"
                            maxlength="255"
                            placeholder="Argumentez...">
                        </label>
                            <p-toggleButton
                                pRipple
                                [(ngModel)]="commentSide"
                                [ngModelOptions]="{standalone: true}"
                                onLabel="Pour"
                                onIcon="pi pi-thumbs-up"
                                offLabel="Contre"
                                offIcon="pi pi-thumbs-down"
                                [style]="{'width': '7em', 'height': '100%', 'color': 'red', 'border-color': 'transparent', 'margin-left': '5px'}">
                            </p-toggleButton>
                        <button 
                            pButton
                            pRipple
                            type="submit"
                            class="p-button p-button p-button-text"
                            style="color: #841586; margin: 2px;">
                                <i class="pi pi-send"></i>
                        </button>
                    </form>
                </div>
            </div>
            <div *ngFor="let comment of debate.comment">
                <p-messages styleClass="p-message" [severity]="comment.side ? 'success' : 'error'">
                    <ng-template pTemplate>
                        <div style="display: flex; justify-content: space-between; width: 100%;">
                            <div style="display: flex; flex-direction: row; width: 100%">
                                <img class="p-avatar p-avatar-lg" *ngIf="!(comment.user.profilPicture === undefined)" width="55" height="55" [src]="sanitize('data:image/jpg;base64, ' + comment.user.profilPicture)"/>
                                <img class="p-avatar p-avatar-lg" *ngIf="comment.user.profilPicture === undefined" width="55" height="55" src="../../../assets/PDP.webp"/>
                                <div class="ml-2" style="width: 87%; word-wrap: break-word; max-width: 100%;">
                                    <div style="margin-left: 5%; font-weight: 700; color:black;"> {{ comment.user.username }} </div>
                                    <div style="margin-left: 5%; color: black;"> {{ comment.comment }} </div>
                                    <button pButton pRipple type="button" class="p-button-rounded p-button-help p-button-text" (click)="like(comment._id, comment)">
                                        <span>
                                            {{ comment.interest_score }}
                                            <i [ngClass]= "isCommentLiked(comment._id) ? 'pi pi-heart-fill' : 'pi pi-heart'"></i>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </p-messages>
            </div>
        </div>
    </div>
    <div class="news">
        <div class="p-card" *ngFor="let news of mainNews">
            <img class="p-avatar news-image" _ngcontent-qqs-c76="" [src]="news.image" />
            <div class="card-content">
                <div class="p-card-header"> {{ news.title }} </div>
                <div class="p-card-subheader"> {{ news.content }} </div>
                <div class="p-card-footer"> {{ news.source }} </div>
                <div class="p-card-footer"> {{ news.dateTime }} </div>
            </div>
        </div>
    </div>
</div>
